@font-face {
  font-family: 'Main';
  src: url('/SpaceGrotesk-Variable.ttf');
  font-weight: thin;
  font-style: normal;
}

:root {
  font-family: 'Main', monospace, system-ui, sans-serif;
  line-height: 1;
  font-weight: 300;

  /* --bg-color: rgb(15,15,7); */
  --bg-color: rgb(27, 23, 19);
  --bgbox-color: rgb(111, 107, 103);
  --hl-color: rgb(59, 55, 51);
  --fg-color: rgb(239, 239, 239);

  color-scheme: dark;
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.067rem;
}
img {
  width: 100%;
  object-fit: contain;
}

#root {
  margin: 0;
  display: grid;
  width: calc(100vw-18px);
  padding: 18px;
  grid-template-columns: 400px auto;
  place-items: start;
  gap: 18px;
  row-gap: 18px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.276rem;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 6px;
  font-size: 2rem;
  font-weight: 600;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 6px;
}

h2 {
  padding: 2px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.375rem;
  margin: -6px 0 12px 0;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  margin-top: 8px;
  margin-bottom: 6px;
  font-weight: 600;
}

button {
  background-color: var(--bgbox-color);
  border: 1px solid var(--fg-color);
  border-style: solid;
  padding: 4px 6px;
}

input,
select {
  background-color: var(--hl-color);
  border: none;
  padding: 2px;
  text-align: right;
  margin: 0 6px 0 0px;
}

select:active,
select:focus,
select:hover,
.number-input {
  border: none;
  outline: none;
}

option {
  background-color: var(--hl-color);
}
option:checked {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

input[type='checkbox'] {
  all: unset;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: var(--hl-color);
}

input[type='checkbox']:checked {
  background-color: var(--fg-color);
}

.input-file {
  border: none;
  border: 1px solid var(--fg-color);
  background-color: var(--hl-color);
  margin-bottom: 6px;
  box-shadow: 0 0 6px var(--hl-color);
  width: 100%;
  color: var(--fg-color);
}

input::file-selector-button {
  background-color: var(--bg-color);
  border: unset;
  border-right: 1px solid var(--fg-color);
  padding: 4px 6px;
  margin: -2px;
  margin-right: 6px;
}

.files-flex-line {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  margin-block: 6px;
}

.files {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  display: flex;
  margin-bottom: -6px;
  flex-direction: column;
  justify-content: space-between;
}

.output-image {
  grid-column: 2;
  grid-row: 1;
  place-self: start;
  display: flex;
  place-content: center;
  align-items: center;
  gap: 18px;
  position: relative;
  height: 100%;
  padding: 12px;
  border: 1px solid var(--fg-color);
  border-style: solid;
  box-shadow: 0 0 12px var(--hl-color);
}

#p5 {
  position: relative;
  min-width: 376px;
  min-height: 18px;
  display: flex;
  place-content: center;
  z-index: -1;
}

#p5_loading {
  text-align: center;
  left: 40%;
}

#update {
  position: absolute;
  left: -1px;
  bottom: -1px;
}

.preset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.src-image {
  margin-block: 12px;
}

form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 18px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0px;
  padding: 12px;
  border: none;
  border-top: 1px solid var(--fg-color);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.operation,
.main-settings {
  width: 400px;
  padding: 0px;
  border: 1px solid var(--fg-color);
  box-shadow: 0 0 12px var(--hl-color);
}

.main-settings-title {
  margin: 17px 9px 16px 12px;
}

.main-spacer {
  width: 100%;
  height: 5px;
  border-top: 1px solid var(--fg-color);
}

.layer-title {
  display: flex;
  justify-content: space-between;
  margin: 9px 9px 0px 12px;
}

.layer-button {
  position: relative;
  margin-left: 2px;
  padding: 6px 12px;
  border: none;
  background-color: var(--hl-color);
  font-size: 0.75rem;
}

.layer-button:hover {
  background-color: var(--bg-color);
}

.arrow-button {
  padding: 6px 10px;
}

.arrow {
  position: relative;
  display: inline-block;
  top: -2px;
}

.add-layer {
  margin: 18px 0px;
}

.add-layer,
.download {
  box-shadow: 0 0 12px var(--hl-color);
  place-self: end;
}

.number-input {
  max-width: 3rem;
}

.field-title {
  margin-right: 6px;
  flex-shrink: 2;
  text-align: right;
  /* width: min-content; */
}

.label {
  text-transform: uppercase;
}

.flex-line {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
  padding-left: 9px;
  margin-block: 6px;
  border-left: 1px solid var(--fg-color);
}
